/*Footer*/

body {
    background: aliceblue;
    background: -webkit-linear-gradient(to right, aliceblue, lemonchiffon);
    background: linear-gradient(to right, aliceblue, #e5e5e5);
    min-height: 100vh;
}

#button-addon1 {
    color: #ffc371;
}
.Navbar {
    background-color: coral;
}
i {
    color: #ffc371;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

/*Product*/
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.Brief_Description {
    text-decoration-style: solid;
    font-size: 150%;
}
.code {
    font-size: 100%;
}
.FullDescription {
    
    text-decoration: solid;
}
/*displayed image*/
.price {
    font-size: 120%;
    text-decoration: underline overline;
    text-decoration-style: solid;
}
.carousel .img-responsive {
    width: 100%;
}
/*aniation bar */
.move {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    opacity: 0.7;
    transform: scale3d(2, 2, 2);
}
.move:hover {
    opacity: 1;
    transform: scale3d(1, 1, 1);

}

    @keyframes example {
        0% {
        background-color: deeppink;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: aqua;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color:  fuchsia;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: yellow;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

}
/* Blink box */
.blink {
    transform: scale(0.9);
}
    .blink:hover {
        transition: 500ms linear;
        transform: scale(1.0);
    }
.buy:hover {
    transform: rotate(2deg);
}
/* search btn*/
.search {
    opacity: 0.8;
    background-color: burlywood;
}
.search:hover {
    opacity: 1;
    background-color: #ffc371;
}
#search {
    transform: scale(0.8);
}
#search:hover {
    transform: scale(1);
}
/* active_navigation*/
.active_navigation {
    background-color: white;
}
.active_navigation:hover {
    background-color: gold;
    transform: scale(1.1);
}
/* buy button*/
#buyButton {
    background-color: gold;
    color: #0366d6;

}
/*image_buy*/
.image_buy:hover {
    transform: scale(1.1);
}