@page


@{
    
    {
        <div class="jumbotron">
            <div class="text-center">
                <div class="text-dark"> <h1>Request Not sent</h1></div>
                <div class="justify-content-md-around">
                    <em> An error occurred please try again later </em>
                </div>
            </div>
        </div>
    }
}