@page



@{

    {
        <div class="jumbotron">
            <div class="text-center">
                <div class="text-dark"> <h1>Order processed</h1></div>
                <div class="justify-content-md-around">
                    <em> your order has been received sit tight and relax! </em>
                </div>
            </div>
        </div>
    }

}