@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="text-align: center">Shop policy</h2>
<div class="container">

    <div class="row pt-4 ">

        <div class="col-2"></div>
        <div class="col-8  pl-4  ">
            <b>GUARANTEE</b> <br />
            We offer a non questionable replacement Warranty and a 100% full refund or exchange for quality issues.  If you have any questions after receiving your product please contact immediately. Please inform your name, contact information and our staff will reply you as soon as possible, I wish you a happy shopping
        </div>
    </div>
    <div class="row pt-4 ">
        <div class="col-2"></div>
        <div class="col-8  pl-4  ">
            <b>SHIPPING</b> <br />
            We offer free shipping for all orders in Bahrain.  No extra fee will be charged. All prices you see are fixed and discounted already.  You shall pay the exact amount to the carrier agent during delivery with no extra fee. All orders in Bahrain are delivered next day.
        </div>
    </div>
    
    <div class="row pt-4 ">
        <div class="col-2"></div>
        <div class="col-8  pl-4  ">
            <b>PAYMENT</b> <br />
            All payments are done Cash on Delivery to the carrier agent. For no reason you should pay any fee online. We use third party carriers so they might request no opening of goods until after payment cash on delivery.  
        </div>
    </div>
    
    <div class="row pt-4 ">
        <div class="col-2"></div>
        <div class="col-8  pl-4  ">
            <b>PRIVACY</b> <br />
            We are the sole owners of this website. We assure you all information we collect from you (Names, Email, Phone, Address etc) are used only for the purpose it was intended to. We don’t sell your information to any third party.
        </div>
    </div>
</div>